/* this css file will only style the homepage of our site */
#headshot img {
  width: 300px;
  float: right;
  clear: right;
 }
 
 h1, h2, h3, h4 {
   font-size: 40px;
   font-family:'Segoe UI';
   font-weight: bold;
   margin:auto
 }
 
 body {
   font-family:'Cambria';
   font-size: 18px;
   line-height: 1.5;
   color: black;
   background-color:rgb(248, 188, 255);
 }
 
 p{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   scroll-margin-inline-end: 0px;
   unicode-bidi: isolate;
 }
 
 .major-section {
   border: solid 1px rgb(41, 41, 41);
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   width: 95%;
   margin: 20px;
   margin-bottom: 5px;
   background-color: rgb(253, 220, 255);
 }
 
 .assignments-section {
   border: solid 1px rgb(41, 41, 41);
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   width: 95%;
   margin: 20px;
   margin-bottom: 5px;
   background-color: rgb(253, 220, 255);
 }
 
 .photo img {
   width: 300px;
   flex-basis: 50%;
 }
 
 ol {
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
   unicode-bidi: isolate;
   flex-basis: 50%;
 }
 
 img {
   overflow-clip-margin: content-box;
   overflow: clip;
 }
 
 .side-by-side {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
